<!DOCTYPE html>
<html ng-app="app">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <script type="text/JavaScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script type="text/JavaScript" src="//code.angularjs.org/1.2.19/i18n/angular-locale_es-es.js"></script>
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/scriptList.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Chat Web
                    </a>
                </li>
                <div ng-controller="ListController">
                    <li>
                        <a>Users</a>
                        <li ng-repeat="user in users">
                            <a style="margin-left: 2em">{{user.name}}</a>
                        </li>
                    </li>
                    <li>
                        <a>Rooms</a>
                        <li ng-repeat="room in rooms">
                            <a style="margin-left: 2em">{{room.name}}</a>
                        </li>
                    </li>
                </div>
            </ul>
        </div>
        </div>
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add Room
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <form id="formRoom">
                      <div class="modal-body">
                            <label for="name">Name:</label><input type="text" name="name" id="nameRoom" value="" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button onclick="addRoom()" type="submit" data-dismiss="modal" class="btn btn-primary" id="add">Save</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>
